<nav style="background-attachment: fixed;">{% include "@Front/Sejour/navbar.html.twig " %}</nav>

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}
{% block content %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/dac2f170c5.js"></script>
{#
<body id="body-first" style="background-image: url('{{ asset('build/static/dessins_old.png') }}');background-attachment: fixed;">
#}

    <div class="px-4 px-lg-0">


        <div class="pb-5 rounded " style="margin-top:5%; ">
            <div class="container rounded">
                <div class="row">
                    <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5" style="box-shadow: 10px 10px 5px grey !important;">

                        <!-- Shopping cart table -->
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col" class="border-0 bg-light">
                                        <div class="p-2 px-3 text-uppercase">Séjour</div>
                                    </th>
                                    <th scope="col" class="border-0 bg-light">
                                        <div class="p-2 px-3 text-uppercase"></div>
                                    </th>
                                    <th scope="col" class="border-0 bg-light">
                                        <div class="p-2 px-3 text-uppercase"></div>
                                    </th>
                                    <th scope="col" class="border-0 bg-light">
                                        <div class="py-2 text-uppercase">Action</div>
                                    </th>
                                </tr>
                                </thead>
                                {% for sejour in sejours %}

                                    <tbody>
                                    <tr>
                                        <th scope="row" class="border-0">
                                            <div class="p-2">
                                                <div class="ml-3 d-inline-block align-middle">
                                                    <h5 class="mb-0"> <a href="#" class=" text-dark d-inline-block align-middle"><b>{{ sejour.libelle }} </b></a></h5>
                                                </div>
                                            </div>
                                        </th>
                                        <td class="border-0 align-middle"><a href="#" class="text-dark"></i> </a></td>
                                        <td class="border-0 align-middle"><a href="#" class="text-dark"></i> </a></td>

                                        <td class="border-0 align-middle">
                                            <a class=" btn-sejour-edit text-dark " href={{ path('sejour_editer', { 'id' : sejour.id }) }}><i class="far fa-edit"  style="color: dodgerblue;"></i></a>
                                            <a class="fa fa-times btn-sejour-delete" href="" data-id="{{ sejour.id }}"><i class="fa fa-times" style="color:red;"></i></a>

                                        </td>
                                    </tr>
                                    </tbody>
                                {% endfor %}
                            </table>
                            <button class="btn btn-ajouter-sejour btn-success btn-sejour-add" type="button" ><a href="{{ path('sejour_ajouter') }}">  Ajouter un séjour </a></button>

                        </div>
                        <!-- End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{%  block appendJS %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.btn-sejour-delete').click(function () {
                var id = $(this).attr('data-id');

                $.ajax({
                    url : '{{ (path('sejour_delete')) }}',
                    type: "DELETE",
                    data: {
                        id: id
                    },
                    success: function () {
                        window.location.reload();
                    }

                });
            });
        });


    </script>
{% endblock %}