
{% include "@Front/Sejour/navbar.html.twig " %}

{%  block content %}
    <div id="ajout">
        {% include "@Front/Sejour/Slide/sejour.add.form.html.twig " %}

    </div>
    </div>
{% endblock %}
{% block javascripts %}
<script type="text/javascript">
    var nbRestrictions =0;
    var prototypeRestriction = $('#card-restriction-prototype-edit').attr('data-prototype');

    var nbVillePartenaires =0;
    var prototypeVillePartenaire = $('#card-ville-partenaire-prototype-edit').attr('data-prototype');

    var prototypeCreneauRestriction = $('#card-secteur-entier-prototype-edit').attr('data-prototype');



    var indexLib=1;
    var indexHor=1;

    var nbArretsBusEdit=0;

    function prototypeArretBus2() {

        $('.arrets-bus').append( '<div class="arret-bus"  >\n         ' +
            ' <input id="lib' +indexLib+ '" type="text" class="arretBusLibelle"  placeholder="Nom de l\'arrêt de bus"  >  ' +
            '<input id="hor' +indexHor+ '" type="time"  class="arretBusHoraire " >\n       ' +
            ' <button type="button" class="btn-delete-bus-edit btn btn-outline-danger" title="Cliquez pour supprimer cet arr\xEAt de bus">x</button>\n    </div>');

    }
    $(document).ready(function(){


        /*SLIDE N1 = LIBELLE DU SEJOUR ,  LES 5 DATES , LES 2 CHECKBOX (SEJOUR VISIBLE ET UTILISATION DES AVOIRS)*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
        $('#libelle-sejour').val('{{ sejour.libelle }}');
        $('#date-ouverture-sejour').val('{{ sejour.date_Debut|date('Y-m-d') }}');
        $('#date-fermeture-sejour').val('{{ sejour.dateFin|date('Y-m-d') }}');
        $('#date-debut-inscriptions-ville').val('{{ sejour.dateDebutInscriptionsInterne|date('Y-m-d') }}');
        $('#date-debut-inscriptions-exterieur').val('{{ sejour.dateDebutInscriptionsExterne|date('Y-m-d') }}');
        $('#date-fin-inscriptions').val('{{ sejour.dateFinInscriptions|date('Y-m-d') }}');
        {% if sejour.visible==1 %}
        $('#myCheckVisible').prop('checked',true);
        {% endif %}

        {% if sejour.useCreditNote==1 %}
        $('#myCheckAvoir').prop('checked',true);
        {% endif %}




        /*SLIDE N2  = TRAITEMENT BUS, ATL , MODE PAIEMENT (MENSUEL OU PLUSIEURS FOIS)*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
        {% if sejour.atl==1 %}
        $('#myCheckatl').prop('checked', true);
        $('#bloc-atl').show();
        $('#montant-atl').val('{{ sejour.montantAideAuTempsLibre }}');
        $('#demi-journees-atl').val('{{ sejour.demiJourneesATL }}');
        {% endif %}

        {% if sejour.paiementPlusieursFois ==1 %}
        $('#myCheckPxF').prop('checked',true);
        $('#nb-echeances').val('{{ sejour.nbPaiementPlusieursFois }}');
        $('#myCheckPmensuel').prop('checked',false);
        {% endif %}

        {% if sejour.paiementPlusieursFois ==1 %}
        $('#myCheckPxF').prop('checked',true);
        $('#bloc-paiement-plusieurs-fois').show();
        $('#nb-echeances').show();
        $('#nb-echeances').val('{{ sejour.nbPaiementPlusieursFois }}');
        $('#myCheckPmensuel').prop('checked',false);
        $('#bloc-pmensuel').hide();
        {% endif %}

        {% if sejour.paiementMensuel ==1 %}
        $('#myCheckPmensuel').prop('checked',true);
        $('#myCheckPxF').prop('checked',false);
        $('#myCheckPxF').hide();
        {% endif %}

        {% if  sejour.bus == 1 %}
        $('.arrets-bus').append('<button id="btn-ajout-arret-bus-edit" type="button" class=" btn  btn-primary rounded">\n' +
            '                                Ajouter un arrêt de bus\n' +
            '                            </button>');
        $('#btn-ajout-arret-bus').hide();
            $('#myCheckBus').prop('checked',true);
            var index=0;
            {% for busI in bus %}
                index+=1;
                $('#bloc-bus').show();
                prototypeArretBus2();
                indexLib+=1;
                indexHor+=1;
                nbArretsBusEdit++;
                $('#lib'+index+'').val('{{ busI.libelle }}');
                $('#hor'+index+'').val('{{ busI.heure }}');
            {% endfor %}
        {% endif %}

        $('#btn-ajout-arret-bus-edit').on('click', function(){
            $(prototypeArretBus2()).insertBefore('#btn-ajout-arret-bus');
            nbArretsBusEdit++;
            indexLib+=1;
            indexHor+=1;
        });

        $(document).on('click', '.btn-delete-bus-edit', function () {
            $(this).parent().remove();
            nbArretsBusEdit--;
            indexLib-=1;
            indexHor-=1;

        });
       /*SLIDE N3 = TRAITEMENT RESTRICTIONS*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
        {%  for restriction in restrictions %}
        nbRestrictions++;
        var nouvelleRestriction = prototypeRestriction.replace(/INDEX/g, nbRestrictions);

            $('.cards-restrictions').append($(nouvelleRestriction).insertBefore('#btn-ajout-card-restriction'));


        $('select[name="restrictions[' + nbRestrictions + '][critere]"]').val('{{ restriction.critereIndex }}');
        $('select[name="restrictions[' + nbRestrictions + '][operateur]"]').val("{{ restriction.operateur }}");

        {% if restriction.critereIndex =='1' %}
        $('select[name="restrictions[' + nbRestrictions + '][age]"]').val("{{ restriction.valeur }}");
            {% if restriction.operateur == ">=" %}
            $('select[name="restrictions[' + nbRestrictions + '][operateur]"]').val(">=");
            {% elseif restriction.operateur == "<=" %}
            $('select[name="restrictions[' + nbRestrictions + '][operateur]"]').val("<=");
            {% endif %}
        {% elseif restriction.critereIndex =='2'%}
        $('select[name="restrictions[' + nbRestrictions + '][age]"]').hide();
        $('select[name="restrictions[' + nbRestrictions + '][classe]"]').show();
        $('select[name="restrictions[' + nbRestrictions + '][classe]"]').val('{{ restriction.valeur }}');
        {% elseif restriction.critereIndex =='3'%}
        $('select[name="restrictions[' + nbRestrictions + '][age]"]').hide();
        $('select[name="restrictions[' + nbRestrictions + '][typeDocument]"]').show();
        $('select[name="restrictions[' + nbRestrictions + '][typeDocument]"]').val("{{ restriction.valeur }}");
        {% elseif restriction.critereIndex =='4' %}
        $('select[name="restrictions[' + nbRestrictions + '][age]"]').hide();
        $('select[name="restrictions[' + nbRestrictions + '][commune]"]').show();
        $('select[name="restrictions[' + nbRestrictions + '][commune]"]').val("{{ restriction.valeur }}");
        {% endif %}
        {% endfor %}
        $('#btn-ajout-card-restriction').hide();
        $('.cards-restrictions').append('<button id="btn-ajout-card-restriction-edit" type="button" class="btn btn-primary rounded">\n' +
            '                    Ajouter une restriction\n' +
            '                </button>');


        $(document).on('click', '.btn-supprimer-restriction-edit', function () {
            nbRestrictions--;
            $(this).closest('.card-restriction').remove();
            console.log(nbRestrictions);
        });

        $('#btn-ajout-card-restriction-edit').on('click', function(){
            nbRestrictions++;
            var nouvelleRestriction = prototypeRestriction.replace(/INDEX/g, nbRestrictions);
            $(nouvelleRestriction).insertBefore($('#btn-ajout-card-restriction-edit')).last();
            console.log(nbRestrictions);
        });


        /*SLIDE N4 = TRAITEMENT VILLE PARTENAIRES*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
        {%  for ville in villes %}
            var nouvelleVillePartenaire = prototypeVillePartenaire.replace(/INDEX/g, nbVillePartenaires);

            $('#cards-villes-partenaires').append($(nouvelleVillePartenaire));
            $('input[name="villes['+ nbVillePartenaires +'][codePostal]"]').val('{{ ville.codePostal }}');
            $('input[name="villes['+ nbVillePartenaires +'][libelle]"]').val('{{ ville.ville }}');
            nbVillePartenaires++;

        {% endfor %}

        $('#btn-ajout-card-ville-partenaire').hide();
        $('#cards-villes-partenaires').append('<button id="btn-ajout-card-ville-partenaire-edit" type="button" class="btn btn-primary rounded">\n' +
            '                    Ajouter une ville partenaire\n' +
            '                </button>');
        $(document).on('click', '.btn-supprimer-ville-partenaire-edit', function () {
            nbVillePartenaires--;
            $(this).closest('.card-ville-partenaire').remove();
        });

        $('#btn-ajout-card-ville-partenaire-edit').click(function () {
            var nouvelleVillePartenaire = prototypeVillePartenaire.replace(/INDEX/g, nbVillePartenaires);
            $(nouvelleVillePartenaire).insertBefore($('#btn-ajout-card-ville-partenaire-edit')).last();
            nbVillePartenaires++;

        });


        /*SLIDE N5 = TRAITEMENT JOUR AFFICHER SECTEURS*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
        $('.checkbox-journees-entier').hide();
        var nbCreneauxJournee = 0;
        {% for journee in journeesSecteur %}
        nbCreneauxJournee++;

        var nouveauCreneauEntier = prototypeCreneauRestriction.replace(/INDEX/g, nbCreneauxJournee);


        $('#cards-creneaux-entiers').append('<div class=\'checkbox-journee-entier checkbox-journee-entier-selectionne\'  data-journee='+ nbCreneauxJournee +' >\n ' +
                '                           <div class=\'check-journee-entier\'>\n   ' +
                '                             <span class=\'fas fa-check\'></span>\n   ' +
                '                         </div><div class=\'contenu-day\' </div>\n      '+
                '                      <div class=libelle-journee-entier>' + "{{ journee.date }}" + ' <input id="testCheckBox" name="checkboxEntierDay['+nbCreneauxJournee +']" type=checkbox' +
                ' style="" checked/></div><hr>\n  ' +
                nouveauCreneauEntier);
        $('select[name="creneau[' + nbCreneauxJournee + ']"]').val('{{ journee.creneau }}');
        $('select[name="secteur[' + nbCreneauxJournee + ']"]').val('{{ journee.secteur }}');
        $('input[name="input[' + nbCreneauxJournee + ']"]').val('{{ journee.places }}');

        {% endfor %}

        /*Slide5 Changement du bouton valider*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
        $('#btn-valider').hide();
        $('#btn-valider-edit').show();
        $('#btn-valider-edit').on('click',function() {

            /*SLIDE 1*/
            var libelle = $('#libelle-sejour').val();
            var dateOuverture = new $('#date-ouverture-sejour').val();
            var dateFermeture = new $('#date-fermeture-sejour').val();
            var dateDebutVille = $('#date-debut-inscriptions-ville').val();
            var dateDebutExterieur = $('#date-debut-inscriptions-exterieur').val();
            var dateFinInscriptions = $('#date-fin-inscriptions').val();
            var visible = $('input[name="yes_noVisible"]:checked').val();
            var useCreditNote = $('input[name="yes_noAvoir"]:checked').val();

            /*SLIDE 2*/
            var listBusAjax= new Array();
            var BusContentLibelle =[];
            var BusContentHoraire =[];
            $('.arretBusLibelle').each(function(){
                if($(this).val() !== "") {
                    BusContentLibelle.push($(this).val());
                }
            });
            $('.arretBusHoraire').each(function(){
                if($(this).val() !== "") {
                    BusContentHoraire.push($(this).val());
                }
            });
            for(var index=0; index <BusContentLibelle.length; index++){
                listBusAjax.push({
                    libelle:BusContentLibelle[index],
                    hour: BusContentHoraire[index],
                })
            }
            var paiementMensuel = $('input[id="myCheckPmensuel"]:checked').val();
            var paiementXFois = $('input[id="myCheckPxF"]:checked').val();
            var nbEcheances = $('#nb-echeances').val();
            var aideTempsLibre = $('input[id="myCheckatl"]:checked').val();
            var montantAtl = $('#montant-atl').val();
            var nbDemiJoursAtl = $('#demi-journees-atl').val();

            /*SLIDE 3*/
            var critere = new Array();
            var operateur = new Array();
            var valeur = new Array();
            var restrictions = new Array();

            $('.select-critere').each(function () {
                critere.push($(this).val());
            });
            $('.select-operateur').each(function () {
                operateur.push($(this).val());
            });
            $('.select-critere').each(function ( index) {
                var i =index+1;
                if ($(this).val() === '1') {
                    valeur.push($('select[name="restrictions[' + i + '][age]"]').val());
                }else if ($(this).val() === '2') {
                    valeur.push($('select[name="restrictions[' + i + '][classe]"]').val());
                }else if ($(this).val() === '3') {
                    valeur.push($('select[name="restrictions[' + i + '][typeDocument]"]').val());
                }else if ($(this).val() === '4') {
                    valeur.push($('select[name="restrictions[' + i + '][commune]"]').val());

                }
            });

            for (var i = 0; i < nbRestrictions; i++) {
                restrictions.push({
                    critere: critere[i],
                    operateur: operateur[i],
                    valeur: valeur[i]
                })
            }
            /*SLIDE 4 */

            var villes =new Array()
            $('.card-ville-partenaire').each(function(index){
                var i=index;
                villes.push({
                    libelle: ($('[name="villes['+i+'][libelle]"]').val()),
                    codePostal: ($('[name="villes['+i+'][codePostal]"]').val())
                });

            });

            /*SLIDE 5*/
            var journeesTopEdit = journeesEntier;

            $(journeesTopEdit).each(function (indexJour, jour) {
                var i =indexJour+1;
                jour["creneaux"] = $("select[name='creneau[" + i + "]']").val(),
                    jour["secteur"] = $("select[name='secteur[" + i + "]']").val(),
                    jour["places"] = $("input[name='input[" + i + "]']").val(),
                    jour["checked"] = !!$('input[name="checkboxEntierDay[' + i + ']"]').is(':checked');


            });
            console.log('test',journeesTopEdit);
            $.ajax({
                url: '{{ path('sejour_edit') }}',
                data: {
                    id: {{ sejour.id }},
                    /*SLIDE 1*/
                    libelle: libelle,
                    dateOuverture: dateOuverture,
                    dateFermeture: dateFermeture,
                    dateDebutVille: dateDebutVille,
                    dateDebutExterieur: dateDebutExterieur,
                    dateFinInscriptions: dateFinInscriptions,
                    visible: visible,
                    useCreditNote: useCreditNote,
                    /*SLIDE 2*/
                    paiementMensuel: paiementMensuel,
                    paiementXFois: paiementXFois,
                    nbEcheances: nbEcheances,
                    aideTempsLibre: aideTempsLibre,
                    montantAtl: montantAtl,
                    nbDemiJoursAtl: nbDemiJoursAtl,
                    listBusAjax: listBusAjax,
                    /*SLIDE 3*/
                    restrictions: restrictions,
                    /*SLIDE 4*/
                    villes: villes,
                    /*SLIDE 5*/
                    journeesTopEdit:journeesTopEdit,

                },
                success: function () {
                    console.log('okajax');
                    window.location.href = ("{{ path('sejour') }}");

                },
                error: function () {
                    console.log('koajax');
                }
            });
        });

    });

</script>
{% endblock %}